/*
	HUNDREDS of other stylesheets which work with this class can be found here - http://icant.co.uk/csstablegallery
	Try a few demos using the style dropdown box for our demo here - http://www.ajaxcrud.com/
*/

.paging_links{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	/* color:#F5E000;*/
	color:#445276;
}

.ajaxCRUD {
	background: #F4F2FD;
	border-color: #BBB1ED;
	border-style: solid;
	border-width: 0px;
	padding:4px;
	border-collapse:collapse;
	margin-top:10px;
	margin-bottom:10px;
}

.ajaxCRUD th{
	background: #CFDBF3;
	font-weight: bold;
	color:#445276;
	font-size: 16px;
}

.ajaxCRUD th a{
	color: #173D7F;
}

.ajaxCRUD td a{
	border-bottom: 1px dotted #ba0000;
	font-size: 14px;
	text-decoration: none;
}

.ajaxCRUD td a:hover{
	color: #000;
	border-bottom: 1px solid #ba0000;
}

.ajaxCRUD td{
	font-family: Arial, Verdana;
	font-size: 14px;
	background: #F9F8FB;
	color: #716E6E;
	font-weight:normal;
	/* text-align: center; */
	vertical-align: middle;
}

.ajaxCRUD td, .ajaxCRUD th{
	padding: 5px 5px;
}
table td.odd, table tr.odd, tr.odd td, tbody tr.odd th{
	background-color: #f2f2f2;
}

.editingSize{
	font-size: 12px;
}

.vertical, .vertical td, .vertical th{
	text-align:left;
}

input, select, textarea{
	font-size: 100%;
	border-top: 1px solid #7c7c7c;
	border-left: 1px solid #c3c3c3;
	border-right: 1px solid #c3c3c3;
	border-bottom: 1px solid #ddd;
	background: #E0DCDC url("fieldbg.gif") repeat-x top;
	color: #333;
	padding: 4px 4px 4px 4px;
}

.btn{
	font-size: 14px;
}
.report, .alertgood {
	text-align: left;
	border-top: 1px solid #9c9;
	border-bottom: 1px solid #9c9;
	padding: 5px 5px 5px 30px;
	font-size: 16px;
	margin: 0 20px 15px 20px;
	color: #060;
	background: url("checkicon.gif") #e2f9e3 left no-repeat;
}

.error, .alertbad {
	text-align: left;
	font-weight: bold;
	border-top: 1px solid #c99;
	border-bottom: 1px solid #c99;
	padding: 5px 5px 5px 27px;
	font-size: 16px;
	margin: 0 20px 15px 20px;
	background: url("badicon.gif") #c00 left no-repeat;
	color: #fff;
}	

.expl {
        font-size: 20px;
        font-family:Verdana, Arial, Helvetica, sans-serif;
        text-align: center;
        background: #e2f9e3 left no-repeat;
}